{% extends 'base.html.twig' %}

{% block body %}
<section class="s-content">
        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
            </div>
        </div>
        <div class="row masonry-wrap">
            <div class="masonry">
                <div class="grid-sizer"></div>      
{% for article in article %}
{% block article %}       
                <article class="masonry__brick entry format-standard">
            <div class="entry__thumb">
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt=""> 
            </div>
            <div class="entry__text">
                <div class="entry__header">
                    <div class="entry__date">
                        <p>{{ article.createdAt|date }}<p>                            
                    </div>
                    <h1 class="entry__title"><a href="{{ path('article', {'slug' : article.slug}) }}">{{ article.title }}</a></h1>
                </div>
                <div class="entry__excerpt">
                    <p>{{ article.content|raw }}</p>
                </div>
                <div class="entry__meta">
                    <span class="entry__meta-links">
                    </span>
                </div>
            </div>    
                </article> 
{% endblock %}
    {% endfor %}
{{ knp_pagination_render(article)}}
            </div>
        </div> 
    </section> 
{% endblock %}
{% block footer %}
    {% include ("/partials/extras.html.twig") %}

{% endblock %}

